@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixin.scss' as *;

.btn-shorten {
    @include button;
    background: $light;
    color: $dark;
    padding: 12px 24px;
    border: none;

    &:hover {
        box-shadow: 1px 1px 10px 10px $light-footer;
    }
}

.btn-back {
    @include button;
    background: #ee0007;
    font-size: 20px;
    min-width: 110px;
    min-height: 60px;
    color: $light;
    padding: 12px 24px;
    border: none;
}

.btn-info {
    @include button;
    background: $light;
    font-size: 20px;
    min-width: 110px;
    min-height: 60px;
    color: $dark;
    padding: 12px 24px;
    border: none;
}

@media screen and (max-width:768px) {
    .btn-back {
        padding: 10px 18px;
        min-width: 100px;
        min-height: 50px;
    }
}

@media screen and (max-width:768px) {
    .btn-info {
        padding: 10px 18px;
        min-width: 100px;
        min-height: 50px;
    }
}