@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixin.scss' as *;

.title-shorten {
    @include title;
    font-size: 120px;
}

.title-shorten-h2 {
    @include title;
    line-height: 160%;
    color: $light-text;
    font-size: 20px;
}

.title-result {
    @include title;
    font-size: 100px;
}

.title-info {
    @include title;
    font-size: 120px;
}

.title-about {
    @include title;
    text-align: left;
    line-height: 100%;
    font-size: 100px;
}

@media screen and (max-width:1024px) {
    .title-result {
        font-size: 65px;
    }

    .title-about {
        font-size: 75px;
    }
}

@media screen and (max-width:768px) {
    .title-info {
        font-size: 100px;

        html[lang='pl'] & {
            font-size: 90px;
        }
    }

    .title-shorten {
        font-size: 100px;
    }

    .title-result {
        font-size: 55px;
    }

    .title-about {
        font-size: 60px;
    }
}

@media screen and (max-width:425px) {
    .title-info {
        font-size: 50px;

        html[lang='pl'] & {
            font-size: 45px;
        }
    }

    .title-shorten {
        font-size: 55px;
    }

    .title-shorten-h2 {
        font-size: 16px;
    }

    .title-result {
        font-size: 30px;
    }

    .title-about {
        font-size: 40px;
    }
}

@media screen and (max-width:375px) {
    .title-info {
        font-size: 40px;

        html[lang='pl'] & {
            font-size: 40px;
        }
    }

    .title-shorten {
        font-size: 52px;
    }

    .title-shorten-h2 {
        font-size: 14px;
    }

    .title-result {
        font-size: 25px;
    }
}