@use '/src/sass/base/variables.scss' as *;

.footer {
    display: flex;
    align-items: center;
    padding: 4px 16px;

    &__line {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__language-switcher {
        position: relative;
        width: 50px;
        height: 26px;
        background-color: #373737;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        cursor: pointer;
        overflow: hidden;
    }

    &__language-option-EN {
        padding: 0 0 0 3px;
        font-weight: bold;
        font-size: 14px;
        color: $light-text;
        z-index: 1;
        transition: color 0.3s ease-in-out;

        &.active {
            color: $dark;
        }
    }

    &__language-option-PL {
        padding: 0 5px 0 0;
        font-weight: bold;
        font-size: 14px;
        color: $light-text;
        z-index: 1;
        transition: color 0.3s ease-in-out;

        &.active {
            color: $dark;
        }
    }

    &__language-slider {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 28px;
        height: 22px;
        background-color: $light;
        border-radius: 15px;
        transition: transform 0.3s ease-in-out;
    }

    &__icons {
        padding: 3px 24px;
    }

    &__logo {
        width: 26px;
        height: 26px;
    }

    &__text {
        color: $light-footer;
    }

    &__copyright {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__sun {
        color: $light-footer;

        &:hover {
            color: #fbf135;
        }
    }

    &__moon {
        color: $light;

        &:hover {
            color: #9bf8ff;
        }
    }

    &__copyright {
        color: $light-footer;
    }
}

body.light {
    background-color: $light;

    .footer {
        &__language-switcher {
            background-color: #EDEDED;
        }

        &__language-option-EN,
        &__language-option-PL {
            color: $dark-footer;

            &.active {
                color: $light;
            }
        }


        &__language-slider {
            background-color: $dark;
        }

        &__line {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        &__sun {
            color: $dark;

            &:hover {
                color: #ffcc00;
            }
        }

        &__moon {
            color: $dark-footer;

            &:hover {
                color: #9bf8ff;
            }
        }

        &__copyright,
        &__text {
            color: $dark-footer;
        }
    }
}