@use '/src/sass/base/variables.scss' as *;

.header {
    padding: 6px 16px;
    display: flex;
    justify-content: space-between;

    &__logo {
        display: flex;
        width: 50%;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color: $light;
        width: 50%;
        gap: 20px;
    }

    &__page {
        display: flex;
        gap: 16px;
    }

    &__page-list {
        text-decoration: none;
        color: $light;
    }

    &__contact {
        display: flex;
        gap: 16px;
    }

    &__mail {
        color: $light-text;
    }

    &__icon {
        color: $light-footer;
    }

    &__line {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__btn-mobile {
        display: none;
    }
}

body.light {
    .header {
        &__line {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        &__wrapper,
        &__page-list {
            color: $dark;
        }

        &__mail {
            color: $dark-text;
        }

        &__icon {
            color: $dark-footer;
        }
    }
}

@media screen and (max-width:1024px) {
    .header {
        display: flex;
        justify-content: start;
        gap: 200px;

        &__logo {
            display: flex;
            width: 40px;
            height: 40px;
        }

        &__wrapper {
            gap: 370px;
        }
    }
}

@media screen and (max-width:768px) {
    .header {
        gap: 20px;

        &__wrapper {
            gap: 300px;
        }
    }
}

@media screen and (max-width:375px) {
    .header {
        align-items: center;
        justify-content: space-between;

        &__wrapper {
            display: none;
        }

        &__btn-mobile {
            display: block;
            border: 1px solid $light-footer;
            border-radius: 20px;
            padding: 5px 12px 3px 12px;
            width: 58px;
            height: 28px;
            background-color: $dark;
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: -0.03em;
            color: $light;
        }
    }
}