@use '/src/sass/base/variables.scss' as *;

.result {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); //safari
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    box-sizing: border-box;
    overflow: hidden;
    animation: fadeInZoom 1s ease-out forwards;

    &--visible {
        animation: fadeInZoom 0.5s ease-out forwards;
    }

    &--hide {
        animation: fadeOutZoom 0.5s ease-in forwards;
    }

    @keyframes fadeInZoom {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes fadeOutZoom {
        0% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(0.95);
        }
    }


    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    &__icon {
        color: $light;
    }

    &__link {
        display: inline-block;
        justify-content: center;
        color: $light;
        text-decoration: none;
        overflow: hidden;
        border-right: 2px solid $light;
        width: 0;
        animation:
            typing 2.5s steps(30, end) forwards,
            blink-caret 0.75s step-end 3;

        @keyframes typing {
            from {
                width: 0;
            }

            to {
                width: 100%;
            }
        }

        @keyframes blink-caret {

            0%,
            100% {
                border-color: transparent;
            }

            50% {
                border-color: $light;
            }
        }
    }

    &__text {
        margin-top: 200px;
        font-weight: 600;
        font-size: 11px;
        line-height: 109%;
        letter-spacing: -0.03em;
        text-align: center;
        color: #c81a1f;
    }

    &__btns {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    &__btn-back {
        animation: fadeInZoom 1s ease-out forwards;

        &:hover {
            box-shadow: 1px 1px 10px 10px $light-footer;
        }
    }

    &__btn-info {
        animation: fadeInZoom 1s ease-out forwards;

        &:hover {
            box-shadow: 1px 1px 10px 10px $light-footer;
        }
    }
}

.copied-popup {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

body.light {
    .result {
        &__link {
            color: $dark;
        }

        &__icon {
            color: $dark;
        }

        &__btn-info {
            background-color: $dark;
            color: $light;

            &:hover {
                box-shadow: 1px 1px 10px 10px $dark-footer;
            }
        }

        &__btn-back {
            &:hover {
                box-shadow: 1px 1px 10px 10px $dark-footer;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .result {
        &__wrapper {
            max-width: 935px;
        }

        &__text {
            margin-top: 150px;
        }
    }
}

@media screen and (max-width:768px) {
    .result {

        &__text {
            margin-top: 110px;
        }

        &__btns {
            max-width: 200px;
        }
    }
}

@media screen and (max-width:425px) {
    .result {

        padding: 16px;
        justify-content: space-between;

        &__icon {
            display: none;
        }

        &__link {
            margin-top: 150px;
        }

        &__control {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }

        &__text {
            margin: 0 0 8px 0;
            text-align: center;
        }

        &__btns {
            max-width: 170px;
            display: flex;
            justify-content: center;
            gap: 8px;
        }
    }
}