@use '/src/sass/base/variables.scss' as *;

@mixin button {
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.03em;
    cursor: pointer;
}

@mixin title {
    font-weight: 400;
    letter-spacing: -0.03em;
    text-align: center;
}

@mixin text {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
}

@mixin texts {
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.04em;
}