$dark: #000000;
$dark-text: rgba(0, 0, 0, 0.5);
$dar-footer: rgba(0, 0, 0, 0.3);
$light: #ffffff;
$light-text: rgba(255, 255, 255, 0.6);
$light-footer: rgba(255, 255, 255, 0.5);
$light-line: rgba(255, 255, 255, 0.2);